<div aria-hidden="true" aria-labelledby="modal-product-details-label" role="dialog" tabindex="-1" id="modal-product-details" class="modal fade modal-body">
    <div class="modal-dialog">
    </div>
</div>